// Fonts
$font: 'Nunito';
$theme-font: 'Oswald';
$header-font: 'Poppins';

// Colors
$white: white;
$black: black;

$blue: #0136a7;
$highlight-blue: #0074ff;
$sky-blue: #37adf1;
$baby-blue: #9ee0ff;
$dark-blue: #071149;
$yellow: #ffc107;
$light-yellow: #ffedb6;
$brown: #633b00;
$light-grey: #DFDFDF;
$dark-grey: #6F6F6F;
$med-grey: #9b9b9b;
$light-black: #2A2A2A;
$purple: #9A00E2;
$green: #009118;
$light-green: #b0ffbd;
$dark-green: #00490c;
$orange: #e96100;
$violet: #E91C90;
$pink: #FF8ECA;
$lime: #8ad400;
$teal: #00bd94;
$neon-green: #00c900;
$red: #ED463D;
$light-red: #ffc5c2;
$dark-red: #610b06;

// Margins
$mr-1: 5px;
$mr-2: 15px;
$mr-3: 30px;
$mr-4: 45px;
$mr-5: 60px;